<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    
    <div class="flex w-[80%] mx-auto">
        <div class="mt-10 h-200 w-[50%]">
            <form  class=" h-200 mx-auto" action="/adduser" method="post">
                              {% csrf_token%}

                <input type="hidden" name="type" value="reg">
                <h1 class="text-5xl text-center">Registration</h1>
                <div class="mt-20 w-[80%] mx-auto flex justify-between">
                    <h1 class="text-3xl">First Name</h1>
                    <input class="border-2 placeholder-red-800 placeholder:text-xs" placeholder="{{all_messages.f_name|default:"Hawwas" }}" name="f_name" type="text">
                </div>
                <div class="mt-8 mx-auto w-[80%] flex justify-between">
                    <h1 class="text-3xl">Last Name</h1>
                    <input class="border-2 placeholder-red-800 placeholder:text-xs" placeholder="{{ all_messages.l_name|default:"Anas" }} " name="l_name" type="text">
                </div>
                <div class="mt-8 w-[80%] mx-auto flex justify-between">
                    <h1 class="text-3xl">Email</h1>
                    <input class="border-2 placeholder-red-800 placeholder:text-xs" placeholder="{{ all_messages.email_error|default:"anas@gmail.com" }} " name="email" type="text">
                </div>
                <div class="mt-8 w-[80%] mx-auto flex justify-between">
                    <h1 class="text-3xl">Password</h1>
                    <input class="border-2 placeholder-red-800 placeholder:text-xs" name="password" placeholder="{{ all_messages.password}}" type="password">
                </div>
                  <div class="mt-8 w-[80%] mx-auto flex justify-between">
                    <h1 class="text-3xl">Confirm PW</h1>
                    <input class="border-2 placeholder-red-800 placeholder:text-xs " placeholder="{{ all_messages.con_pw}}" name="con_pw" type="Password">
                </div>
                  <div class="mt-8 w-[80%] mx-auto flex justify-center">
                    <button class="border-2 w-40 text-2xl shadow-[3px_3px]">Registrer</button>
                </div>
                {% for message in messages %}
                {% if 'email_exists' in message.tags %}
                <h1 class="text-3xl text-red-800 text-center mt-10">{{message}}</h1>
                {% endif %}
                {% endfor %}

            </form>
        </div>
        <div class="mt-10 w-[50%] h-200">
            <form  class="w-[90%] h-200 mx-auto" action="/adduser" method="post">
                <input type="hidden" value="login" name="type">
                {% csrf_token%}
                <h1 class="text-5xl text-center">Login</h1>
                <div class="mt-20 w-[80%] mx-auto flex justify-between">
                    <h1 class="text-3xl">Email</h1>
                    <input placeholder="{{all_messages.email|default:"anas@gmail.com" }}" name="login_email" class="border-2 placeholder-red-800 placeholder:text-xs" type="text">
                </div>
                <div class="mt-8 w-[80%] mx-auto flex justify-between">
                    <h1 class="text-3xl">Password</h1>
                    <input placeholder="{{all_messages.Password}}" name="login_password" class="border-2 placeholder-red-800 placeholder:text-xs" type="text">
                </div>
                  <div class="mt-8 w-[80%] mx-auto flex justify-center">
                    <button class="border-2 w-40 text-2xl shadow-[3px_3px]">Log In</button>
                </div>
            </form>




        </div>
    </div>



</body>
</html>