<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="flex">

        <form action="/author" method="post">
            {% csrf_token %}
        <div class="w-110 ml-10 mt-10 h-100">
            <h1 class="text-4xl text-center">Add an Author</h1>
            <div class="justify-between  flex  pt-5 w-[70%] mx-auto">
                <h1 class="text-2xl">First Name</h1>
                <input class="border-2" name="f-name" type="text">
            </div>
            <div class="justify-between  flex  pt-5 w-[70%] mx-auto">
                <h1 class="text-2xl">Last Name</h1>
                <input class="border-2" name="l-name" type="text">
            </div>
            <div class="flex pt-6 mx-auto justify-between w-[70%]">
                <h1 class=" text-2xl">Notes</h1>
                <textarea class="w-45 h-20 border-2" name="note" id=""></textarea>
            </div>
            <div class="flex justify-center pt-10 ">
            <button class="border-2 shadow-[2px_2px] w-15">Add</button>
            </div>

            <div class="flex justify-center pt-5">
                <a href="/" class="border-2 shadow-[2px_2px]">Add a Book</a>
            </div>
        </div>
 </form>

        <div class=" h-100 ml-40 mt-10 w-[50%]">
            <table class="w-[80%] border-2">
                <tr>
                    <th class="w-15 border text-3xl">ID</th>
                    <th class="text-3xl">Titel</th>
                    <th class="text-3xl">Action</th>
                </tr>

                {% for i in books %}
                <tr class="even:bg-gray-500 border-2 w-[100%]">
                    <td class="pl-5 text-3xl">{{i.id}}</td>
                    <td class="pl-5 text-center text-3xl">{{i.first_name}}</td>
                    <td class="text-3xl text-center text-blue-300 underline"><a href="/author/{{i.id}}">view</a></td>
                </tr>
                {% endfor %}

            </table>


        </div>










    </div>


</body>
</html>