<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="pt-10 pl-10">
        <h1 class="text-4xl">{{author.first_name}}</h1>
    </div>
    <div class="pt-5 pl-10">
        <h1 class="text-3xl">ID: {{author.id}}</h1>
    </div>
    <div class="flex w-[50%] pt-5 pl-10">
        <h1 class="text-3xl">Notes :</h1>
        <p class="text-2xl ml-5">{{author.desc}}</p>
    </div>
    <div class="pl-10 pt-10">
        <h1 class="text-3xl ">Books :</h1>

    </div>
     <div class="pl-15">
        <ul class="list-disc"> {% for i in author_book %}
            <li class="text-2xl">{{i.titel}}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="pl-10 pt-10 flex">
        <form action="/many_author" method="post">
            {% csrf_token %}
            <input type="hidden" name="author_id" value="{{author.id}}">
            <select class="h-8 border-2 w-40" name="ship" id="">
                <option disabled selected value="">select a Book</option>
                {% for i in books %}
                <option value="{{i.id}}">{{i.titel}}</option>
                 {% endfor %}

            </select>
        


            
            <button class="border-2 w-15 ml-10 shadow-[2px_2px]">Add</button>
        </form>
    </div>


</body>
</html>