<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="h-120 mt-40 w-[60%] mx-auto border-4 border-solid border-black">
        <div>
            <h1 class="pt-5 pl-7 pb-5 text-3xl underline-offset-4 underline">Submitted INFO</h1>
        </div>
        <div class="justify-between flex w-[60%] pl-11 text-2xl">
            <h1>Name:</h1>
            <h1>{{username}}</h1>
        </div>
        <div class="justify-between flex w-[60%] pl-11 text-2xl">
            <h1>Dojo location</h1>
            <h1>{{anas}}</h1>
        </div>
        <div class="justify-between flex w-[60%] pl-11 text-2xl">
            <h1>favourite language:</h1>
            <h1>{{language}}</h1>
        </div>
        <div class="justify-between flex w-[60%] pl-11 text-2xl">
            <h1>Comment:</h1>
            <h1>{{comment}}</h1>
        </div>

        <div class="h-10 mt-50 mr-5  justify-end flex">
            <a href="/" class=" bg-green-500 shadow-[4px_4px_black] border-2 w-35 text-center text-2xl">Go back</a>


        </div>

    </div>
</body>

</html>