<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <style>
   :root {
    --box-color: {{ color }};
}


    </style>
</head>

<body>
    <div class="main">
    <h1 class="header">Welcome</h1>

    {% for i in range(x) %}
        <div class="boxOne"></div>
    {% endfor %}
    </div>

</body>

</html>